html {
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

/* for default settings  */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  font-family: "Public Sans", sans-serif;
  /* --webkit-font-smoothing:antialiased; */
}
body{
  overflow-x: hidden;
}

/* for image responsive */
img {
  max-width: 100%;
  height: auto;
}

.container {
  /* background-color: red; */
  width: 1120px;
  margin: 0 auto;
  max-width: 90%;
}

nav {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
  padding: 20px 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;

}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: var(--Grayish-Blue);
}

.btn{
    border: none;
    background: linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
    border-radius: 50px;
    padding: 10px 20px;
    color: var(--White);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn:hover{
    background: linear-gradient(to right,var(--Bright-Cyan),var(--Lime-Green));
}

/* Slider section css start here */

.header-wrap{
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 55px;

}

.header-section{
  background: var(--Very-Light-Gray);
  /* position: relative; */
}

.header-text{
  flex: 1 0 40%;
}

.header-images{
  flex: 1 0 60%;
  position: relative;
}

.header-images img:first-child{
  position: relative;
  top: -36px;
  transform: scale(1.6);
  bottom: 0;
  right: -200px;
}

.nav-section{
  z-index: 1;
  position: relative;
  background: var(--White);
}

.header-images img:last-child{
  position: absolute;
  top: -155px;
  transform: scale(1.1);
  bottom: 0;
  right: -190px;
}


.header-text h1{
  font-size: 48px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 30px;
}

.header-text p{
  margin-bottom: 30px;
  line-height: 1.4;
  color:var(--Grayish-Blue)
}




















